Repository greenpeace-cee/uk.co.compucorp.civicase: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-359: Move case tabs provider to civicase base module
  ang/civicase-base/providers/case-details-tabs.provider.js
  ang/civicase/case/details/configs/add-case-details-tabs.config.js
  ang/test/civicase-base/providers/case-details-tabs.provider.spec.js
  ang/test/civicase/case/details/configs/add-case-details-tabs.config.spec.js
  ang/test/civicase/case/details/providers/case-details-tabs.provider.spec.js
Due: eslint --max-warnings=0

RSE-359: Fix default case tab casing
  ang/civicase/case/list/directives/case-list-table.directive.js
Due: eslint --max-warnings=0

RSE-359: Move civicase services to civicase base module
  ang/civicase-base/services/date-helper.service.js
  ang/civicase-base/services/ts.service.js
Due: eslint --max-warnings=0

RSE-359: Add format date filter
  ang/civicase-base/filters/format-date.filter.js
Due: eslint --max-warnings=0

RSE-359: Add confirm and status CRM functions as spies
  ang/test/global.js
Due: eslint --max-warnings=0

RSE-359: Create generic case tab component style
  ang/civicase/case/details/people-tab/directives/case-details-people-tab.directive.html
  css/civicase.min.css
  scss/components/_case-peoples.scss
  scss/components/_case-tab.scss
Due: stylelint --fix

RSE-749: Add Service for generating Case category menu. Implement hook
  CRM/Civicase/Hook/PostProcess/CaseCategoryMenuLinksProcessor.php
  CRM/Civicase/Service/CaseCategoryMenu.php
  civicase.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-749: Add default word replacement when config does not exist
  CRM/Civicase/Helper/CaseCategory.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-749: Fix issue with case type select when there are no case type for the category
  CRM/Civicase/Hook/BuildForm/CaseCategoryCustomFieldsProcessing.php
  CRM/Civicase/Hook/BuildForm/FilterByCaseCategoryOnChangeCaseType.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-52: Fix dashboard tabs path on affix directive
  ang/civicase/crm-dashboard/directives/crm-dashboard-tabset-affix.directive.js
Due: eslint --max-warnings=0

CPS-52: Move #bootstrap-theme to My Activities tab and use jQuery UI tabs for dashboard
  templates/CRM/Civicase/Page/DashboardTabs.tpl
Due: none

CPS-52: Fix dashboard style issues
  scss/pages/_civicrm-dashboard.scss
Due: stylelint --fix

CPS-52: Fix Done button
  templates/CRM/Civicase/Page/DashboardTabs.tpl
Due: none

CPS-52: Add css dist files
  css/civicase.min.css
Due: none

CPS-52: Move dashboard tabs rules to their own partial
  ang/civicase/crm-dashboard/directives/crm-dashboard-tabset-affix.directive.js
  css/civicase.min.css
  scss/components/_tabs.scss
  scss/pages/_civicrm-dashboard.scss
  templates/CRM/Civicase/Page/DashboardTabs.tpl
Due: eslint --max-warnings=0, stylelint --fix

CPS-85: Add case type category to manage case menu item
  CRM/Civicase/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CATL-1113: Add Case Clients As Default Recipients For Case Email Add Form
  ang/civicase/case/details/directives/case-details.directive.js
Due: eslint --max-warnings=0

CATL-1113: Fix error validation for email case manager
  ang/civicase/case/actions/services/email-managers-case-action.service.js
Due: eslint --max-warnings=0

CATL-1113: Reciepents are set to only case clients
  ang/civicase/case/details/directives/case-details.directive.js
Due: eslint --max-warnings=0

CATL-1113: Fix nesting level for error validation logic and remove unneccessary comments
  ang/civicase/case/actions/services/email-managers-case-action.service.js
Due: eslint --max-warnings=0

CATL-1113: Fix tests for the changes done to civicaseCaseDetailsController
  ang/civicase/case/actions/services/email-managers-case-action.service.js
  ang/test/civicase/case/details/directives/case-details.directive.spec.js
Due: eslint --max-warnings=0

CATL-1113: Fix comments
  ang/civicase/case/actions/services/email-managers-case-action.service.js
  ang/test/civicase/case/details/directives/case-details.directive.spec.js
Due: eslint --max-warnings=0

CATL-1113: Add Case Clients As Default Recipients For draft lettter activity popup
  ang/civicase/activity/feed/directives/activity-feed.directive.js
Due: eslint --max-warnings=0

CATL-1113: Move reusable code inside service
  ang/civicase/activity/activity-forms/services/draft-email-or-pdf-activity-form.service.js
  ang/civicase/case/actions/services/email-managers-case-action.service.js
  ang/civicase/case/details/directives/case-details.directive.js
  ang/civicase/case/services/cases-utils.service.js
Due: eslint --max-warnings=0

CATL-1113: Fixes after rebasing from master
  ang/civicase/activity/activity-forms/services/draft-email-or-pdf-activity-form.service.js
Due: eslint --max-warnings=0

CATL-1113: Fix old test and add test for new logic
  ang/test/civicase/activity/activity-forms/services/draft-email-or-pdf-activity-form.service.spec.js
  ang/test/civicase/case/actions/services/email-managers-case-action.service.spec.js
  ang/test/civicase/case/details/directives/case-details.directive.spec.js
  ang/test/civicase/case/services/cases-utils.service.spec.js
Due: eslint --max-warnings=0

CATL-1113: Fix code comment format and improve tests language
  ang/civicase/activity/activity-forms/services/draft-email-or-pdf-activity-form.service.js
  ang/civicase/case/actions/services/email-managers-case-action.service.js
  ang/civicase/case/details/directives/case-details.directive.js
  ang/civicase/case/services/cases-utils.service.js
  ang/test/civicase/activity/activity-forms/services/draft-email-or-pdf-activity-form.service.spec.js
  ang/test/civicase/case/actions/services/email-managers-case-action.service.spec.js
  ang/test/civicase/case/details/directives/case-details.directive.spec.js
  ang/test/civicase/case/services/cases-utils.service.spec.js
Due: eslint --max-warnings=0

CATL-1132: Fix lint issues
  ang/civicase/case/details/people-tab/directives/case-details-people-tab.directive.html
Due: none

CATL-1132: Add missing tests for people tab directive
  ang/test/civicase/case/details/people-tab/directives/case-details-people-tab.directive.spec.js
Due: eslint --max-warnings=0

CATL-1132: Refactor case details people tab
  ang/civicase/case/details/people-tab/directives/case-details-people-tab.directive.html
  ang/civicase/case/details/people-tab/directives/case-details-people-tab.directive.js
  ang/test/civicase/case/details/people-tab/directives/case-details-people-tab.directive.spec.js
Due: eslint --max-warnings=0

CATL-1132: Block clients from being assigned other case roles
  ang/civicase/case/details/people-tab/directives/case-details-people-tab.directive.js
  ang/test/civicase/case/details/people-tab/directives/case-details-people-tab.directive.spec.js
Due: eslint --max-warnings=0

CATL-1132: Refactor contact selection prompt from promise to callback function
  ang/civicase/case/details/people-tab/directives/case-details-people-tab.directive.js
  ang/test/civicase/case/details/people-tab/directives/case-details-people-tab.directive.spec.js
Due: eslint --max-warnings=0

CATL-1132: Move case role and client assignment handler functions to new independent functions
  ang/civicase/case/details/people-tab/directives/case-details-people-tab.directive.js
Due: eslint --max-warnings=0

CATL-1132: Move blocking client from other roles logic to its own function
  ang/civicase/case/details/people-tab/directives/case-details-people-tab.directive.js
Due: eslint --max-warnings=0

CATL-1132: Move api call generation for case contact replacement to separate functions
  ang/civicase/case/details/people-tab/directives/case-details-people-tab.directive.js
  ang/test/civicase/case/details/people-tab/directives/case-details-people-tab.directive.spec.js
Due: eslint --max-warnings=0

CATL-1132: Use ternary operator instead of ifs
  ang/civicase/case/details/people-tab/directives/case-details-people-tab.directive.js
Due: eslint --max-warnings=0

CATL-1132: Move HTML placeholders to new file
  ang/civicase/case/details/people-tab/directives/case-details-people-tab-placeholder.html
  ang/civicase/case/details/people-tab/directives/case-details-people-tab.directive.html
Due: none

CATL-1132: Append error message outside of select2 container
  ang/civicase/case/details/people-tab/directives/case-details-people-tab.directive.js
Due: eslint --max-warnings=0

CATL-1113: Revert back draft email or pdf activity form service
  ang/civicase/activity/activity-forms/services/draft-email-or-pdf-activity-form.service.js
  ang/test/civicase/activity/activity-forms/services/draft-email-or-pdf-activity-form.service.spec.js
Due: eslint --max-warnings=0

Fix activity not loading when status grouping is undefined
  ang/civicase/activity/panel/directives/activity-panel.directive.js
Due: eslint --max-warnings=0

Path conditions:
  eslint --max-warnings=0: any of: *.js
  stylelint --fix: any of: *.scss
  ./bin/phpcs.phar --standard=phpcs-ruleset.xml: any of: *.php
